@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import "includes/reset.scss";
@import "includes/variables.scss";

$desktop-m: 1200px;
$tablet: 640px;
$mobile: 320px;

@mixin media($width) {
    $w: $width * 1.5;
    @if $width == $mobile {
        $w: $width * 1.8;
    }
    @media screen and (max-width: $w) {
        @content;
    }
}

html {scroll-behavior: smooth;}

.body {
    height: 100vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: min-content 1fr min-content;
    background-color: var(--bg-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    color:var(--text-primary);
    &_inner {
        background-color: var(--bg-inner);
    }
}

.btn {
    display: block;
    position: relative;
    cursor: pointer;
    width: 245px;
    height: 55px;
    padding: 17px;
    border: none;
    border-radius: 3px;
    background-color: #4BD8B5;
    background-image: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    color: white;
    font: inherit;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    &:hover, &:focus {}
    &:active {}
    &_watch {
        padding-left: 76px;
        &::before {
            content: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='15.5' stroke='white'/%3E%3Cpath d='M21 16L13.5 20.3301V11.6699L21 16Z' fill='white'/%3E%3C/svg%3E");
            position: absolute;
            display: block;
            width: 32px;
            height: 32px;
            top: 12px;
            left: 39px;
        }
    }

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    @include media($desktop-m) {
        max-width: 900px;
    }
    @include media($tablet) {
        max-width: 600px;
    }
    @include media($mobile) {
        max-width: 300px;
    }
}

.main-nav {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 83px;
    }
    &__link {
        font: inherit;
        font-size: 16px;
        line-height: 19px;
        color: var(--text-headings);

        &_active {
            font-weight: 900;
            text-decoration: underline;
        }
    }
}

.header {
    background-color: var(--bg-primary);
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
    z-index: 1;
    &__container {
        height: 94px;
        max-width: 1620px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu-btn {
        display: none;
        width: 40px;
        height: 21px;
        border: none;
        background: none;
        padding: 0;
        position: relative;
        transition-property: all;
        &::before, &::after, span {
            content: "";
            position: absolute;
            background-color: var(--text-headings);
            height: 3px;
            width: 40px;
            right: 0;
            transition: inherit;
            transition-duration: .3s;
        }
        &::before {
            top: 0;
        }
        span {
            top: 9px;
        }
        &::after {
            width: 33px;
            bottom: 0;
        }
        &_active {
            opacity: 0.8;
            span {
                opacity: 0;
            }
            &::before {
                top: 9px;
                width: 33px;
                transform: rotate(-45deg);
            }
            &::after {
                bottom: 9px;
                width: 33px;
                transform: rotate(45deg);
            }
        }
    }
    @include media($desktop-m) {
        &__container {
            max-width: 900px;
        }
    }
    @include media($tablet) {
        &__container {
            height: auto;
            min-height: 94px;
            max-width: 600px;
            display: grid;
            grid-template-columns: min-content 1fr min-content;
            grid-template-rows: 94px min-content;
        }
        &__nav {
            height: 0;
            overflow: hidden;
            min-width: 100%;
            grid-column: 1 / -1;
            order: 5;
            transition-duration: .4s;
            transition-property: all;
            transition-timing-function: ease-in;
            ul {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
                gap: 18px;
            }
            .main-nav__link {
                display: flex;
                height: 35px;
                justify-content: center;
                align-items: center;
            }
            &_active {
                padding-bottom: 10px;
                height: 204px;
            }
        }
        &__switch {
            margin-left: auto;
            margin-right: 34px;
        }
        &__menu-btn {
            display: block;
        }
    }
    @include media($mobile) {
        &__container {
            max-width: 300px;
        }
        &__switch {
            margin-right: 24px;
        }
    }
}

.logo {
    display: block;
    color: var(--text-headings);
    width: 59px;
    height: 42px;
}

.theme-switch {
    input {
        @extend .visually-hidden;
    }
    label {
      display: block;
      width: 54px;
      height: 30px;
      border-radius: 190px;
      background-color: var(--switch-bg);
      position: relative;
      transition-duration: .4s;
      transition-property: all;
      cursor: pointer;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 5px;
        left: 6px;
        background-color: var(--switch);
        border-radius: 50%;
        transition: inherit;
        box-shadow: 2px 4px 15px var(--switch-shadow);
      }
    }
    input:checked + label {
      &::before {
        transform: translateX(22px);
      }
    }
}

.slider {
    filter: drop-shadow(2px 0px 2px rgba(0, 0, 0, 0.08));
    position: relative;
    &__list {
        max-width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 29px;
        align-items: stretch;

        & > * {
            flex-shrink: 0;
        }
    }

    &__paginator {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    &__btn {
        position: absolute;
        color: var(--text-headings);
        top: 151px;
        background: none;
        border: none;
        filter: drop-shadow(2px 0px 2px rgba(0, 0, 0, 0.08));
        cursor: pointer;
        * {
            pointer-events: none;
        }
        &_prev {
            left: -37px;
            transform: rotate(180deg);
        }
        &_next {
            right: -33px;
        }
        &_disabled {
            color:  #828282;
            cursor: default;
            pointer-events: none;
        }
    }
    @include media($desktop-m) {
        &__list {
            gap: 20px;
        }
        &__paginator {

        }
    }
}

.paginator {
    display: flex;
    flex-direction: column;
    width: 245px;
    align-items: center;
    &__counter {
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: var(---text-headings);
    }
    &__total {
        font-size: 14px;
        line-height: 16px;
        color: #BDBDBD;
    }
    &__stripe {
        margin-top: 11px;
    }
    &__stripe::-webkit-slider-thumb {
        transition-duration: 0.2s;
        appearance: none;
        border-radius: 0;
        width: 30px;
        height: 10px;
        top: -3px;
        background-color: var(--text-headings);
        cursor: pointer;
    }
    &__stripe {
        overflow: visible;
        cursor: pointer;
        width: 100%;
        display: block;
        appearance: none;
        height: 5px;
        margin-bottom: 2px;
        background: rgba(189, 189, 189, 0.57);
    }
    &_light {
        .paginator__counter {
            color: #FEFEFE;
        }
        .paginator__stripe::-webkit-slider-thumb {
            background-color: #FEFEFE;
        }
    }
    &_wide {
        .paginator__stripe::-webkit-slider-thumb {
            width: 62px;
        }
    }

}

.animal-item {
    background-color: #252F27;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    transition-property: width, height, margin, transform;
    transition-duration: .3s;
    &__content {
        width: 100%;
        transform: translateY(150%);
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-end;
        row-gap: 14px;
        column-gap: 10px;
        padding: 23px 23px 34px;
        background-image: linear-gradient(357.17deg, #000000 -56.45%, rgba(0, 0, 0, 0) 65.03%);
        transition-delay: .2s;
        transition-duration: .4s;
        transition-timing-function: ease-out;
        transition-property: transform, opacity;
    }
    &__text {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        padding-right: 15px;
    }
    &__btn {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        padding-left: 27px;
        position: relative;
        &::before {
            left: 0;
            top: -6px;
            content: "";
            background-image: url("../images/dollar-icon.svg");
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
        }
        &_watch {
            color: #4BD8B5;
            &::before {
                background-image: url("../images/play-icon-green.svg");
            }
        }
    }
    &_eagle {
        background-image: url("../images/eagle@2x.jpg");
    }
    &_panda {
        background-image: url("../images/panda@2x.jpg");
    }
    &_ape {
        background-image: url("../images/ape@2x.jpg");
    }
    &_crocodile {
        background-image: url("../images/crocodile@2x.jpg");
    }
    &_fox {
        background-image: url("../images/fox@2x.jpg");
    }
    &_sloth {
        background-image: url("../images/sloth@2x.jpg");
    }
    &_elephant {
        background-image: url("../images/elephant@2x.jpg");
    }
    &_tiger {
        background-image: url("../images/tiger@2x.jpg");
    }
    &_active {
        .animal-item__content {
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
        }
    }
}

.watch  {
    overflow: hidden;
    background-color: darkslategray;
    background-image: url("../images/watch-bg@1x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 206px;
    padding-bottom: 113px;
    height: 940px;
    @media screen and (min-resolution: 2dppx) {
        background-image: url("../images/watch-bg@2x.jpg");
    }
    &__container {
        position: relative;
    }
    &__title {
        color: #FEFEFE;
        width: 793px;
        font-weight: 900;
        font-size: 89px;
        line-height: 104px;
    }
    &__btn {
        margin-top: 37px;
    }
    &__socials {
        position: absolute;
        top: 516px;
        left: -208px
    }
    &__slider {
        position: absolute;
        top: 200px;
        right: -99999px;
        left: 480px;
        .slider__list {
            margin-left: 135px;
            height: 352px;
            align-items: center;
        }
        .slider__paginator {
            margin-right: 0;
            margin-top: 20px;
            margin-left: 305px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 183px;
            left: 0;
            width: 13px;
            height: 13px;
            padding: 3px;
            background-color: white;
            background-clip: content-box;
            border-radius: 50%;
            border: 1px solid white;
        }
        &::after {
            content: "";
            position: absolute;
            top: 189px;
            left: 4px;
            right: 0;
            height: 1px;
            background-color: white;
        }
    }
    &__item {
        z-index: 1;
        height: 203px;
        width: 140px;
        &.animal-item_active {
            width: 245px;
            height: 352px;
            &:not(:first-child) {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }

    @include media($desktop-m) {
        padding-top: 128px;
        padding-bottom: 68px;
        height: 926px;
        &__slider {
            left: 330px;
            top: 303px;
            .slider__paginator {
                margin-left: 351px;
            }
        }
        &__item {
            height: 261px;
            width: 180px;
            &.animal-item_active {
                width: 245px;
                height: 352px;
                &:not(:first-child) {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
        &__socials {
            top: 619px;
            left: 0;
        }
    }
    @include media($tablet) {
        padding-top: 120px;
        background-position: bottom center;
        background-size: cover;
        height: 934px;
        &__title {
            width: 100%;
            font-size: 64px;
            line-height: 75px;
        }
        &__btn {
            margin-top: 31px;
        }
        &__socials {
            top: 606px;
        }
        &__slider {
            top: 287px;
            left: 32px;
            .slider__list {
                margin-left: 71px;
            }
            .slider__paginator {
                margin-left: 287px;
            }
        }
    }
    @include media($mobile) {
        height: 669px;
        padding-top: 92px;
        &__title {
            font-size: 48px;
            line-height: 56px;
            //padding-right: 0;
        }
        &__btn {
            margin-top: 15px;
        }
        &__slider {
            top: 273px;
            left: -7px;
            .slider__list {
                height: 202px;
                gap: 9px;
                margin-left: 17px;
            }
            .slider__paginator {
                width: 140px;
                margin-left: 143px;
            }
            &::before {
                top: 93px;
            }
            &::after {
                top: 99px;
            }
        }

        &__item {
            height: 164px;
            width: 113px;
            &.animal-item_active {
                width: 140px;
                height: 202px;
            }
            .animal-item__content {
                padding-bottom: 11px;
                padding-left: 8px;
                padding-right: 0;
                row-gap: 18px;
            }
            .animal-item__text {
                padding-right: 0;
            }
        }

    }
}

.socials {
    width: 20px;
    height: 107px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    &_horisontal {
        width: 120px;
        height: 20px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}

.section {
    overflow-x: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        color: var(--text-headings);
    }
    &__subtitle {
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        color: var(--text-headings)
    }
    &_additional {
        background-color: var(--bg-additional);
    }
    &_inner {
        padding-top: 60px;
    }
    @include media($tablet) {
        &_inner {
            padding-bottom: 80px;
        }
    }
    @include media($mobile) {
        padding-bottom: 50px;
        padding-top: 50px;
        &__title {
            font-size: 36px;
            line-height: 42px;
        }
        &_inner {
            padding-top: 35px;
            padding-bottom: 60px;
        }
    }
}

.how-it-works {
    &__container {
        max-width: 790px;
    }
    &__text {
        margin-top: 30px;
    }
    &__slider {
        margin-top: 30px;
        .slider__list {
            gap: 0;
        }
    }
    &__watch {
        margin: 30px auto 0;
    }
    &__item {
        width: 100%;
        height: 323px;
        transition-duration: .3s;
        transition-property: margin, transform;
        img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 5px;
            object-fit: cover;
        }
    }

    @include media($desktop-m) {
        &__container {
            max-width: 746px;
        }
        &__slider {
            margin-top: 14px;
        }
        &__watch {
            margin-top: 33px;
        }
    }

    @include media($tablet) {
        padding-bottom: 68px;
        &__container {
            max-width: 600px;
        }
        &__slider {
            margin-top: 30px;
        }
    }

    @include media($mobile) {
        padding-bottom: 50px;
        &__container {
            max-width: 300px;
        }
        &__text {
            margin-top: 21px;
        }
        &__watch {
            margin-top: 11px;
        }
    }
}

.inspiration {
    min-height: 413px;
    &__list {
        text-align: center;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }
    &__text {
        margin-top: 15px;
        text-align: left;
    }
    &__subtitle {
        margin-top: 15px;
    }
    &__item {
        filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
    }
    @include media($desktop-m) {
        &__list {
            gap: 20px;
        }
        &__subtitle {
            margin-top: 12px;
        }
    }
    @include media($tablet) {
        padding-bottom: 97px;
        &__list {
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: flex-start;
            align-items: center;
        }
        &__item {
            max-width: 287px;
        }
    }
    @include media($mobile) {
        padding-bottom: 47px;
        &__list {
            gap: 30px;
        }
        &__item {
            max-width: 300px;
        }
    }
}

.pets-in-zoo {
    &__title {
        text-align: center;
    }
    &__slider {
        margin-top: 38px;
        .slider__btn {
            top: 185px;
            &_prev {
                left: -50px;
            }
            &_next {
                right: -50px;
            }
        }
    }
    &__item {
        width: 23.1%;
        height: 399px;
    }
    &__btn {
        margin: 33px auto 0;
    }

    @include media($desktop-m) {
        &__item {
            height: 301px;
            .animal-item__content {
                padding-left: 8px;
                padding-right: 8px;
                display: grid;
                column-gap: 1px;
                grid-template-columns: 115px 74px;
                grid-template-rows: min-content min-content;
            }
            .animal-item__text {
                grid-column: 1 / -1;
                padding-right: 8px;
            }
        }
        .slider__btn {
            top: 140px;
        }
        &__slider {
            margin-top: 34px;
        }
        &__btn {
            margin-top: 30px;
        }
    }
    @include media($tablet) {
        &__item {
            width: 35%;
        }
        .slider__btn {
            display: none;
        }
        &__btn {
            margin-top: 44px;
        }
    }
    @include media($mobile) {
        padding-top: 100px;
        &__item {
            width: 70%;
        }
        .slider__btn {
            display: none;
        }
        &__slider {
            margin-top: 30px;
        }
        &__btn {
            margin-top: 28px;
        }
    }
}

.pay-and-feed {
    text-align: center;
    &__text {
        margin-top: 30px;
    }
    &__list {
        margin-top: 92px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 245px;
        height: 245px;
        border-radius: 50%;
        border: 2px solid #4AD7D2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 58px;
        gap: 18px;
        position: relative;
        &:not(:first-child)::before
        {
            content: "";
            position: absolute;
            background-image: url("../images/arrow-2.svg");
            background-repeat: no-repeat;
            background-position: center;
            width: 108px;
            height: 16px;
            top: 116px;
            left: -171px;
        }
    }
    &__subtitle {
        max-width: 136px;
    }
    &__btn {
        margin: 60px auto 0;
    }
    @include media($desktop-m) {
        &__item {
            &:not(:first-child)::before {
                background-image: url("../images/arrow-2-mobile.svg");
                width: 49px;
                height: 16px;
                top: 116px;
                left: -66px;
            }
        }
        &__btn {
            margin-top: 60px;
        }
        &__list {
            margin-top: 50px;
        }
    }
    @include media($tablet) {
        &__text {
            margin: 20px auto 0;
            max-width: 538px;
        }
        &__list {
            margin-top: 45px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 100px;
        }
        &__item {
            &:not(:first-child)::before {
                transform: rotate(90deg);
                top: -60px;
                left: 95px;
            }
        }
        &__btn {
            margin-top: 50px;
        }
    }
    @include media($mobile) {
        &__list {
            margin-top: 30px;
        }
        &__text {
            display: none;
        }
        &__btn {
            margin-top: 40px;
        }
    }
}

.testimonials {
    overflow: hidden;
    &__container {max-width: 1230px;}
    &__title {text-align: center;}
    &__slider {
        margin-top: 50px;
        .slider__list {
            padding: 15px;
            align-items: center;
        }
    }
    &__item {
        max-width: 585px;
        min-height: 310px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
        align-items: center;
        padding: 47px 72px;
        box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
        background-color: var(--bg-testimonial);
        border-radius: 5px;
    }
    &__profile-pic {
        width: 68px;
        height: 68px;
        border-radius: 50%;
        border: 1px solid #BDBDBD;
        &_def {
            object-position: center;
            object-fit: scale-down;
        }
    }
    &__btn {
        margin: 34px auto 0;
    }
    @include media($desktop-m) {
        &__container {
            max-width: 930px;
        }
        &__item {
            width: 440px;
            padding-left: 56px;
            padding-right: 56px;
        }
        &__slider {
            margin-top: 46px;
        }
        &__btn {
            margin-top: 37px;
        }
    }
    @include media($tablet) {
        &__container {
            max-width: 600px;
        }
        &__slider {
            margin-top: 30px;

            .slider__btn {
                display: none;
            }
            .slider__list {
                padding-left: 10px;
                padding-right: 10px;
                gap: 30px;
            }
        }
        &__item {
            width: 100%;
        }
    }

    @include media($mobile) {
        &__container {
            max-width: 320px;
        }
        &__item {
            padding-left: 14px;
            padding-right: 14px;
            min-height: 363px;
        }
        &__name {
            margin-top: 36px;
            font-size: 16px;
            line-height: 19px;
        }
        &__slider {
            margin-top: 22px;
        }
        .slider__paginator {
            margin-top: 21px;
        }
        &__btn {
            margin-top: 27px;
        }
    }
}

.tooltip {
    display: grid;
    grid-template-areas: "img title"
                         "img desc";
    grid-template-columns: min-content 1fr;
    transition-duration: .4s;
    column-gap: 20px;
    width: 436px;
    height: 149px;
    background-color: var(--bg-testimonial);
    border-radius: 8px;
    padding: 40px 44px 44px;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    &__title {
        grid-area: title;
        margin-bottom: 7px;
        align-self: center;
    }
    &__desc {
        grid-area: desc;
        display: flex;
        flex-direction: column;
        gap: 5px;
        dt {
            font-weight: 500;;
            color: var(--text-headings);
        }
    }
    dt, dd {
        display: inline-block;
    }
    dd {
        margin-left: 5px;
    }
    &__img {grid-area: img;}
    @include media($mobile) {
        padding: 16px 24px 16px 15px;
        width: 236px;
        height: 113px;
        &__title {
            margin: 0;
            font-size: 14px;
            line-height: 16px;
        }
        &__img {
            width: 40px;
            height: 40px;
        }

        dt, dd {
            display: inline;
            font-size: 11px;
            line-height: 13px;
            color: var(--text-primary);
        }
    }
}

.map {
    position: relative;
    &__image {
        width: 100%;
        height: 100%;
        background-image: var(--map);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__list {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__tooltip {
        display: none;
        opacity: 0;
        position: absolute;
        top: 200px;
        left: -50px;
        &_ape {
            top: 150px;
            left: -80px;
        }
    }
    &__link {
        position: absolute;
        a {
            display: flex;
            padding-top: 12.5px;
            justify-content: center;
            align-items: flex-start;
            width: 67px;
            height: 94px;
            background-image: url("../images/map-point.svg");
            transition-duration: .4s;
            filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
            &:hover, &:focus {
                background-image: url("../images/map-point-red.svg");
            }
            &:hover + .map__tooltip, &:focus + .map__tooltip {
                display: grid;
                opacity: 1;
            }
        }
        &_active {
            a{background-image: url("../images/map-point-red.svg");}
            a + .map__tooltip {
                display: grid;
                opacity: 1;
            }
        }
        &:nth-child(1) {
            top: 15%;
            left: 10%;
        }
        &:nth-child(2) {
            top: 20.2%;
            left: 20.2%;
        }
        &:nth-child(3) {
            top: 38%;
            left: 47.5%;
        }
        &:nth-child(4) {
            top: 18.3%;
            left: 74.3%;
        }
    }

    @include media($desktop-m) {
        &__link {
            &:nth-child(1) {
                top: 12%;
                left: 9.3%;
            }
            &:nth-child(2) {
                top: 15%;
                left: 19.2%;
            }
            &:nth-child(3) {
                top: 34%;
                left: 46.5%;
            }
            &:nth-child(4) {
                top: 15.5%;
                left: 73%;
            }
        }
    }

    @include media($tablet) {
        &__link {
            &:nth-child(1) {
                top: 2%;
            }
            &:nth-child(2) {
                top: 6%;
                left: 17.5%;
            }
            &:nth-child(3) {
                top: 24%;
                left: 44.8%;
            }
            &:nth-child(4) {
                top: 4%;
                left: 71.1%;
            }
        }
        &__tooltip {
            z-index: 1;
            top: 90px;
            left: 10px;
            &_panda {
                left: -300px;
            }
            &_ape {
                left: -250px;
            }
        }
    }
    @include media($mobile) {
        &__list {overflow: visible;}
        &__link {
            a {
                width: 34px;
                height: 47px;
                background-size: contain;
                padding-top: 6px;
                filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
                img {
                    width: 22px;
                    height: 22px;
                }
            }
            &:nth-child(1) {
                top: 2px;
                left: 25px;
            }
            &:nth-child(2) {
                top: 10px;
                left: 52px;
            }
            &:nth-child(3) {
                top: 35px;
                left: 134px;
            }
            &:nth-child(4) {
                top: 8px;
                left: 216px;
            }
        }
        &__tooltip {
            top: 35px;
            left: 10px;
            &_panda {
                left: -180px;
            }
            &_ape {
                left: -100px;
            }
        }
    }
}

.map-section {
    &__title{text-align: center}
    &__map {
        margin-top: 60px;
        height: 498px;
    }
    &__btn {margin: 35px auto 0}
    @include media($desktop-m) {
        &__map {
            height: 436px;
        }
    }
    @include media($tablet) {
        padding-bottom: 81px;
        &__map {
            margin-top: 50px;
            height: 290px;
        }
    }
    @include media($mobile) {
        padding-bottom: 62px;
        &__map {
            margin-top: 30px;
            height: 146px;
        }
        &__btn {
            margin-top: 30px;
        }
    }
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    color: #E0E0E0;
    &__title {
        color: #FEFEFE;
        line-height: 100%;
    }
    &__input {
        width: 100%;
        height: 26px;
        background: none;
        border: none;
        padding: 0 5px 9px 1px;
        border-bottom: 1px solid #BDBDBD;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: inherit;
        &::placeholder {
            font: inherit;
            line-height: inherit;
        }
        &:first-of-type {
            margin-top: 13px;
        }
    }
    &__text-area {
        position: relative;
        margin-top: 9px;
        textarea {
            color: inherit;
            width: 100%;
            height: 114px;
            resize: none;
            border: 1px solid #BDBDBD;
            border-radius: 3px;
            background: none;
            padding: 5px;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
        }
        &-before {
            position: absolute;
            top: -7px;
            left: 8px;
            background-color: #333333;
            padding: 0 6px;
            font-size: 12px;
            line-height: 14px;
            color: #BDBDBD
        }
    }
    &__agreement {
        cursor: pointer;
        margin-top: 5px;
        position: relative;
        padding-left: 20px;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #BDBDBD;
        & span::before {
            position: absolute;
            content: "";
            width: 13px;
            height: 13px;
            left: 0;
            border: 1px solid #BDBDBD;
            box-sizing: border-box;
            border-radius: 1px;
        }
        input:checked + span::before {
            background: #BDBDBD;
        }
    }
    &__send {
        padding: 0;
        margin-left: auto;
        margin-right: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 108px;
        height: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FEFEFE;
        border: none;
        background: none;
    }
    @include media($tablet) {
        gap: 23px;
        &__send {
            margin-top: -15px;
        }
    }
    @include media($mobile) {
        gap: 20px;
        &__send {
            margin-top: 0;
            margin-right: 0;
        }
    }
}

.footer {
    min-height: 751px;
    background-color: #333333;
    color: #FEFEFE;
    &__container {
        max-width: 1620px;
        display: grid;
        grid-template-columns: 1fr min-content 275px;
        grid-template-areas: "logo nav btn"
                             "form about ."
                             "cr cr cr";
        row-gap: 60px;
        column-gap: 112px;
    }
    &__logo {
        color: inherit;
        grid-area: logo;
    }
    &__nav {
        grid-area: nav;
        align-self: center;
        .main-nav__link {
            color: inherit;
        }
        .main-nav__link_active {
            text-decoration: none;
            font-weight: inherit;
        }
    }
    &__donate {
        grid-area: btn;
        align-self: center;
        font-weight: 500;
        width: 275px;
    }
    &__contact-us{
        grid-area: form;
        align-self: start;
        max-width: 383px;
        height: 100%;
    }
    &__about-us {
        grid-area: about;
        align-self: start;
        justify-self: start;
    }
    &__copyright {
        grid-area: cr;
        border-top: 1px solid #FEFEFE;
        padding-top: 28px;
        font-size: 12px;
        line-height: 14px;
        color: #BDBDBD;
    }
    @include media($desktop-m) {
        min-height: 731px;
        padding-top: 103px;
        &__container {
            max-width: 900px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, min-content);
            grid-template-areas: "logo nav"
                                 "form about"
                                 "form btn"
                                 "cr cr";
            grid-auto-rows: min-content;
            row-gap: 65px;
            column-gap: 20px;
        }
        &__donate {
            justify-self: start;
            align-self: start;
            transform: translateY(-50px);
        }
        &__nav {
            align-self: end;
            ul {
                justify-content: flex-start;
                gap: 75px;
            }
        }
    }
    @include media($tablet) {
        padding-top: 96px;
        &__container {
            max-width: 600px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: min-content;
            grid-template-areas: "logo btn btn"
                                 "nav . ."
                                 "form form ."
                                 "about . ."
                                 "cr cr cr";
            row-gap: 0px;
            column-gap: 0px;
        }
        &__donate {
            transform: unset;
            align-self: center;
            justify-self: end;
        }
        &__nav {
            margin-top: 18px;
            ul {
                display: flex;
                align-items: start;
                flex-direction: column;
                gap: 5px;
            }
        }
        &__contact-us {
            margin-top: 23px;
        }
        &__about-us {
            margin-top: 77px;
        }
        &__copyright {
            margin-top: 65px;
        }
    }
    @include media($mobile) {
        padding-top: 50px;
        &__container {
            max-width: 300px;
            grid-template-columns: none;
            grid-template-areas: "logo"
                                  "nav"
                                  "form"
                                  "about"
                                  "btn"
                                  "cr";
        }
        &__donate {
            justify-self: center;
            margin-top: 44px;
        }
        &__nav {
            margin-top: 40px;
        }
        &__contact-us {
            margin-top: 23px;
        }
        &__about-us {
            margin-top: 54px;
        }
        &__copyright {
            margin-top: 80px;
            margin-right: -10px;
        }
    }
}

.about-us {
    width: 190px;
    &__title {
        font-weight: bold;
        text-transform: uppercase;
    }
    &__address {
        margin-top: 35px;
        margin-bottom: 20px;
        a {
            display: block;
        }
    }
    @include media($tablet) {
        line-height: 140%;
    }
}

.popups {
    display: none;
    position: fixed;
    z-index: 1;
}

.popup-donate {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(51, 51, 51, 0.45);
    &_active {
        display: flex;
        overflow: hidden;
    }
    &__content {
        width: 1200px;
        height: 795px;
        background: var(--popup-bg);
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.19);
        background-image: url("../images/popup-bg@1x.jpg");
        background-size: 197px 795px;
        background-position: left top;
        background-repeat: no-repeat;
        padding: 100px 139px 82px 336px;
        @media screen and (min-resolution: 2dppx) {
            background-image: url("../images/popup-bg@2x.jpg");
        }
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 116.5%;
        text-transform: uppercase;
        text-align: center;
        color: var(--popup-title);
    }
    &__form {
        margin-top: 39px;
        display: grid;
        grid-template-areas: "a a"
                             "b c"
                             "d d"
                             "e e";
        grid-template-columns: 1fr 1fr;
        column-gap: 55px;
        row-gap: 40px;
        font-weight: 500;
        font-size: 14px;
        line-height: 116.5%;
        color: var(--popup-text);
    }
    &__fieldset {
        &_animal {
            grid-area: a;
            display: flex;
            justify-content: space-between;
            gap: 55px;
        }
        &_about {grid-area: b;}
        &_checkout {
            grid-area: c;
            .popup-donate__fieldset-title {color: var(--popup-title);}
        }
        &-title {
            color: var(--popup-text);
        }
        &_about, &_checkout {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .popup-donate__fieldset-title {
                margin-bottom: 29px;
            }
        }
    }
    &__text {
        grid-area: d;
        text-align: center;
    }
    &__btn {
        grid-area: e;
        border: none;
        width: 245px;
        justify-self: center;
    }
    &__label {
        position: relative;
        span {
            position: absolute;
            top: -8px;
            left: 8px;
            padding-left: 17px;
            padding-right: 25px;
            background-color: var(--popup-bg);
        }
    }
    &__input {
        border: 1px solid var(--popup-text);
        border-radius: 5px;
        background: none;
        height: 56px;
        width: 335px;
        padding: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 116.5%;
        color: var(--popup-title);
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button, {
            -webkit-appearance: none;
            margin: 0;
        }
        &_phone {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 26px;
            padding-right: 8px;
            &::after {
                position: absolute;
                content: "";
                width: 1px;
                height: 32px;
                background-color: var(--popup-text);
                left: 83px;
            }
            select {
                border: none;
                background: none;
                font: inherit;
                color: inherit;
            }
            input {
                font: inherit;
                color: inherit;
                border: none;
                background: none;
                height: 32px;
                width: 225px;
            }
        }
        &_expiry-date   {
            display: flex;
            justify-content: space-between;
            &::after {
                position: absolute;
                content: "";
                width: 1px;
                height: 32px;
                background-color: var(--popup-text);
                left: 167px;
                top: 15px;
            }
            select  {
                flex-basis: 135px;
                font: inherit;
                color: inherit;
                border: none;
                background: none;
            }
        }
    }
}

.animal-round {
    pointer-events: all;
    cursor: pointer;
    label {
        display: block;
        width: 108px;
        height: 108px;
        border-radius: 50%;
        transition-timing-function: ease;
        transition-duration: .25s;
        transition-property: all;
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
            height: auto;
        }
        &::after {
            transition: inherit;
            content: "";
            position: absolute;
            visibility: hidden;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: url("../images/active-animal.svg");
            background-position: center;
            background-size: contain;
            //transition-delay: .5s;
        }
    }
    input, label {pointer-events: none;}
    input:checked + label {
        position: relative;
        width: 157px;
        height: 157px;
        padding: 10px;
        background-clip: content-box;
        margin-right: -25px;
        margin-left: -25px;
        &::after {
            visibility: visible;
        }
    }
}

// Map
.choose {
    overflow: initial;
    &__title{text-align: center}
    &__text{
        margin-top: 20px;
        padding-left: 205px;
        padding-right: 205px;
    }
    &__slider {
        margin-top: 54px;
        .slider__list {
            height: 157px;
            align-items: center;
            padding-left: 62px;
            padding-right: 62px;
            gap: 30px;
        }
        .slider__btn {
            top: 64px;
            &_prev {
                left: -2px;
            }
            &_next {
                right: -2px;
            }
        }
    }
    &__map {
        margin-top: 95px;
        height: 498px;
    }
    &__btn {margin: 36px auto 0;}

    @include media($desktop-m) {
        &__container {
            max-width: 800px;
        }
        &__text {
            padding: 0 5px;
        }
        &__slider {
            margin-top: 35px;
            margin-left: 45px;
            margin-right: 45px;
            max-width: 710px;
            .slider__list {
                padding: 0 25px;
            }
            .slider__btn {
                &_prev {
                    left: -40px;
                }
                &_next {
                    right: -40px;
                }
            }
        }
        &__map {
            height: 388px;
            margin-top: 48px;
        }
        &__btn {
            margin-top: 35px;
        }
    }
    @include media($tablet) {
        &__container {
            max-width: 600px;
        }
        &__text {
            padding: 0;
        }
        &__slider {
            margin-left: 30px;
            margin-right: 30px;
            .slider__list {
                gap: 15px;
                padding-left: 10px;
                padding-right: 10px;
            }
            .slider__btn {
                &_prev {
                    left: -30px;
                }
                &_next {
                    right: -30px;
                }
            }
        }
        &__map {
            margin-top: 35px;
            height: 290px;
        }
        .animal-round input:checked + label {
            margin-left: -5px;
            margin-right: -5px;
        }
    }
    @include media($mobile) {
        &__title {
            font-size: 24px;
            line-height: 28px;
        }
        &__container {
            max-width: 280px;
        }
        &__text {
            margin-top: 10px;
            font-size: 12px;
            line-height: 14px;
        }
        &__map {
            height: 146px;
            width: 300px;
            margin-top: 37px;
            margin-left: -9px;
        }
        .animal-round {
            label {
                width: 60px;
                height: 60px;
            }
            input:checked + label {
                width: 85px;
                height: 85px;
                padding: 5px;
            }
        }
        &__slider {
            margin-top: 40px;
            .slider__list {
                padding: 0;
            }
        }
        .slider__list {
            height: 85px;
            min-width: 225px;
        }
        .slider__paginator {
            margin-top: 20px;
        }
        .slider__btn {
            top: 28px;
            &_prev {
                left: -35px;
            }
            &_next {
                right: -35px;
            }
        }
    }
}

//Live broadcast

.broadcast {
    overflow: visible;
    &__container {
        transform: translateX(-167px);
        max-width: 1534px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 177px;
    }
    &__slider {
        position: sticky;
        margin-top: 40px;
        .slider__paginator {
            display: none;
        }
        .slider__list {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 157px;
            height: 511px;
        }
        .slider__btn {
            left: 67px;
            &_prev {
                top: -43px;
                transform: rotate(-90deg);
            }
            &_next {
                top: auto;
                right: auto;
                bottom: -43px;
                transform: rotate(90deg);
            }
        }
    }

    @include media($desktop-m) {
        &__container {
            max-width: 984px;
            transform: translateX(-90px);
            gap: 64px;
        }
        &__slider {
            .slider__list {
                width: 120px;
                height: 438px;
            }
            .animal-round {
                label {
                    width: 96px;
                    height: 96px;

                }
                input:checked + label {
                    width: 120px;
                    height: 120px;
                    padding: 8px;
                }
            }
            .slider__btn {
                left: 42px;
                &_prev {
                    left: 46px;
                    top: -43px;
                    transform: rotate(-90deg);
                }
                &_next {
                    top: auto;
                    right: auto;
                    bottom: -43px;
                    transform: rotate(90deg);
                }
            }
        }
    }
    @include media($tablet) {
        &__container {
            max-width: 613px;
            transform: translateX(-5px);
            gap: 26px;
        }
        &__slider {
            .slider__list {
                width: 90px;
                height: 330px;
            }
            .animal-round {
                label {
                    width: 70px;
                    height: 70px;
                }
                input:checked + label {
                    width: 90px;
                    height: 90px;
                    padding: 6px;
                }
            }
            .slider__btn {
                left: 29px;
                &_prev {
                    left: 32px;
                    top: -43px;
                    transform: rotate(-90deg);
                }
                &_next {
                    top: auto;
                    right: auto;
                    bottom: -43px;
                    transform: rotate(90deg);
                }
            }
        }
    }
    @include media($mobile) {
        &__container {
            max-width: 295px;
            transform: translateX(-7px);
            gap: 25px;
        }
        &__slider {
            margin-top: 32px;
            .slider__list {
                width: 65px;
                height: 200px;
                gap: 5px;
            }
            .animal-round {
                label {
                    width: 40px;
                    height: 40px;
                }
                input:checked + label {
                    width: 65px;
                    height: 65px;
                    padding: 5px;
                }
            }
            .slider__btn {
                width: 23px;
                height: 23px;
                svg {
                    width: 100%;
                    height: 100%;

                }
                left: 20px;
                &_prev {
                    left: 22px;
                    top: -35px;
                    transform: rotate(-90deg);
                }
                &_next {
                    top: auto;
                    right: auto;
                    bottom: -35px;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.zoo-page {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 2.1fr 1fr;
    grid-template-areas: "h h"
                         "g d"
                         "g d";
    &__title {
        grid-area: h;
        margin-bottom: 40px;
    }
    &__gallery {
        grid-area: g;
        display: grid;
        column-gap: 26px;
        row-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 442px 141px 11px;
    }
    &__video {
        overflow: hidden;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        &:first-of-type {
            grid-column: 1 / -1;
        }
    }
    &__gallery-switcher {
        grid-column: 1 / -1;
        justify-self: center;
        gap: 5px;
        height: 11px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        label {
            cursor: pointer;
            width: 8px;
            height: 8px;
            background-color: #C4C4C4;
            border-radius: 50%;
        }
        input {
            display: none;
        }
        input:checked + label{
            width: 11px;
            height: 11px;
            background-color: #4AD7D2;
        }
    }
    &__description {
        grid-area: d;
        dt:not(:first-of-type) {margin-top: 13px}
        dd {margin-top: 6px}
    }
    &__btn {
        width: 194px;
        margin-top: 35px;
    }

    @include media($desktop-m) {
        column-gap: 20px;
        &__gallery {
            grid-template-rows: 297px 94px 11px;
        }
        &__btn {
            margin-top: 18px;
            margin-left: -3px;
            width: 185px;
        }
        &__description {
            dt:not(:first-of-type) {margin-top: 17px}
        }
    }
    @include media($tablet) {
        grid-template-columns: 1fr;
        grid-template-areas: "h"
                             "g"
                             "d";
        &__title {
            margin-bottom: 35px;
            margin-left: 7px;
        }
        &__gallery {
            grid-template-rows: 280px 89px 11px;
            column-gap: 16px;
            row-gap: 15px;
        }
        &__description {
            margin-top: 51px;
        }
        &__btn {
            margin-top: 25px;
        }
    }
    @include media($mobile) {
        &__title {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 20px;
        }
        &__gallery {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 116px 56px 11px;
            column-gap: 9px;
            row-gap: 10px;
            iframe:last-of-type {
                display: none;
            }
        }
        &__description {
            margin-top: 39px;
            dt {
                font-size: 14px;
                line-height: 16px;
            }
            dd {
                font-size: 12px;
                line-height: 14px;
            }
        }
        &__btn {
            margin-top: 17px;
        }
    }
}
// TODO: отрефакторить слайдеры
// TODO: слайдер broadcast другие стрелки
