include _mixins
doctype html
html
    head(lang="en")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="css/style.css" type="text/css")
        script(src="scripts/dark-theme.js" defer)
        script(src="scripts/menu.js" defer)
        title Online zoo
    block body
        body.body
            block header
            block main
            block footer
            section.popups
                block popups

