*, *::before, *::after {
    transition-duration: .4s;
    transition-timing-function: linear;
    transition-property: background-color, color;
}

html {
    --bg-primary: white;
    --bg-additional: #F2F2F2;
    --bg-inner: #FBFBFB;
    --text-primary: rgba(79, 79, 79);
    --text-headings: #333333;

    --switch: white;
    --switch-bg: #F2F2F2;
    --switch-shadow: rgba(6, 12, 70, 0.15);

    --bg-testimonial: #FEFEFE;
    --map: url("../images/map.svg");

    --popup-bg: #F9F9F9;
    --popup-title: #313131;
    --popup-text: #828282;
}

html.dark-mode {
    --bg-primary: #333333;
    --bg-additional: #4F4F4F;
    --bg-inner: #4F4F4F;
    --text-primary: #F2F2F2;
    --text-headings: #FEFEFE;

    --switch-bg: #4F4F4F;
    --switch: #1B1B1B;

    --map: url("../images/map-dark.svg");
    --bg-testimonial: #3C3C3C;
}






//html {
//  --bg-primary: white;
//  --color-headings: #333333;
//  --color-text: #4F4F4F;
//  --toggler: #F2F2F2;
//  --switch: #FFFFFF;
//  --switch-shadow: rgba(6, 12, 70, 0.15);
//  --bg-additional: #F2F2F2;
//  --bg-slides: #FEFEFE;
//  --popup-bg: #F9F9F9;
//  --popup-title: #313131;
//  --popup-text: #828282;
//  --bg-inner: #FBFBFB;
//  --arrow: 828282;
//}
//
//html.dark-theme {
//  --bg-primary: #333333;
//  --color-headings: #FEFEFE;
//  --color-text: #F2F2F2;
//  --toggler: #4F4F4F;
//  --switch: #1B1B1B;;
//  --switch-shadow: rgba(230, 230, 230, 0.15);
//  --bg-additional: #4F4F4F;
//  --bg-slides: #3C3C3C;
//  --arrow: #F2F2F2;
//  --popup-bg: #F9F9F9;
//  --popup-title: #313131;
//  --popup-text: #828282;
//  --bg-inner: #4F4F4F;
//}
//
//.container {
//  max-width: 1200px;
//  margin: 0 auto;
//}
